.background {
  background-size: cover;
  grid-column: 1/-1;
  grid-row: 1/1;

  &-dark {
    // background-position: center;
    height: 110%;
    background-image: url("../bg-desktop-dark.jpg");
    transition: var(--transition);
    @media only screen and (max-width: 400px) {
      background-image: url("../bg-mobile-dark.jpg");
    }
  }
  &-light {
    background-position: center;
    height: 110%;
    background-image: url("../bg-desktop-light.jpg");
    transition: var(--transition);
    @media only screen and (max-width: 400px) {
      background-image: url("../bg-mobile-light.jpg");
    }
  }
}
