.layout {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 70rem) minmax(
      2rem,
      1fr
    );
  grid-template-rows: 40vh min-content min-content 1fr;
  min-width: 100vw;
  &-dark {
    background-color: var(--Very-Dark-Blue);
    transition: var(--transition);
  }
  &-light {
    background-color: var(--Very-Light-Gray);
    transition: var(--transition);
  }
}
