.logo {
  height: 28rem;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;

  .todo {
    display: inline-block;
    font-size: 4rem;
    color: white;
    font-weight: 700;
    letter-spacing: 1.2rem;
    margin-right: auto;
  }
  .icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    cursor: pointer;
    &-sun {
      background-image: url("../images/icon-sun.svg");
      transform: scale(0.9) rotate(180deg);
      transition: var(--transition);
    }
    &-moon {
      background-image: url("../images/icon-moon.svg");
      transform: scale(0.9);
      transition: var(--transition);
    }
  }
}
