.logo {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 5rem;

  .todo {
    display: inline-block;
    font-size: 4rem;
    color: white;
    font-weight: 700;
    letter-spacing: 1.2rem;
    margin-right: auto;
  }
  .icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    cursor: pointer;

    @media only screen and (max-width: 680px) {
      height: 3.5rem;
      width: 3.5rem;
    }

    &-sun {
      background-image: url("../icon-sun.svg");
      transform: scale(0.9) rotate(90deg);
      transition: var(--transition);
    }
    &-moon {
      background-image: url("../icon-moon.svg");
      transform: scale(0.9);
      transition: var(--transition);
    }
  }
}
